* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: red;
}

#greet {
    color: green;
}

.greeting {
    color: blue;
}

span {
    color: red;
}

.cuadrado {
    height: 10vh;
    width: 10vh;
    background-color: red;
    margin: 10px 0px 10px 0px;
}

.circulo {
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    background-color: green;
}