/*-- Estils generals de la pàgina --*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    margin: 50px 0 50px 0;
}

/*-- Estils per a pàgines de mínim 680px --*/
@media only screen and (min-width: 680px) {
    .col-3 {
        width: 24.99%;
    }

    .col-9 {
        width: 74.97%;
    }

    .col-12 {
        width: 100%;
    }
}

/*-- Estils per a pàgines més petites de 679px --*/
@media only screen and (max-width: 679px) {

    .col-3, .col-9, .col-12 {
        width: 100%;
    }

}