* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li:nth-child(odd){
    background-color: #999999;
}

main {
    background-color: red;
    height: 90vh;
}

#s1 {
    background-color: green;
    width: 250px;
    height: 30vh;
}

#s1 span {
    background-color: blue;
}

.s2 {
    background-color: blue;
    width: 500px;
    height: 30vh;
}

.s2 span {
    background-color: yellow;
}

section:nth-child(3) {
    background-color: yellow;
    width: 250px;
    height: 30vh;
}
