*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background-color: #171717;
    color: white;
    height: 150px;
    width: 100%;
    z-index: 1;
}

header h2 {
    position: absolute;
    top: 50%;
    left: 50px;
    font-size: 2rem;
}

main {
    position: relative;
    margin: 20px 25% 20px 25%;
}

main p{
    width: 550px;
    padding: 10px 60px 10px 0px;
}

main h1 {
    margin: 10px 0 10px 0;
}

main form {
    margin: 20px 0;
    width: 550px;
}

#contact fieldset {
    height: 100px;
}

#contact fieldset label{
    padding: 0 100px 0 0;
}

main form fieldset{
    padding: 10px 10px 10px 10px;
}

main form fieldset label {
    margin: 20px 0 0 0;
}

main form fieldset input {
    position: absolute;
    left: 160px;
}

/*-- Clases --*/
.home {
    position: absolute;
    right: 0;
    margin: -40px 0 0 0;
}

p .top{
    margin: -100px 0px 10px 500px;
}

.signin {
    position: absolute;
    top: 450px;
    right: 170px;
}

.notice {
    background-color: #F1CCCC;
    border: solid red;
    padding: 10px 20px 0px 20px;
}

/*-- IDs --*/
main form fieldset #username {
    position: absolute;
    left: 300px;
}

#contact #send {
    position: absolute;
    top: 390px;
    left: 130px;
}

main form fieldset #password {
    position: absolute;
    top: 390px;
    left: 10px;
}