* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: red;
    height: 90vh;
}

#s1 {
    background-color: green;
    width: 250px;
    height: 30vh;
}

#s1 span {
    background-color: blue;
}

.s2 {
    background-color: blue;
    width: 500px;
    height: 30vh;
}

.s2 span {
    background-color: yellow;
}

section:nth-child(3) {
    background-color: yellow;
    width: 250px;
    height: 30vh;
}


/*-- Estilos lista --*/
header li:nth-child(odd){
    background-color: #999999;
}

header li:hover{
    background-color: #1A5276;
}

header li>a{
    color: green;
    text-decoration: none;
}

header li>a:hover {
    color: red;
    text-decoration: underline yellow;
}

/*-- Estilos del footer --*/
footer {
    background-color: #FDB1C0;
}

footer a{
    color: #FDF439;
    text-decoration: none;
}

footer a:visited {
    color: orange;
    text-decoration: underline;
}

footer ul {
    width: 25vh;
}

footer nav {
    background-color: #fff;
}

footer ul li{
    background-color: #999999;
}

footer ul li:nth-child(even){
    background-color: #FDB1C0;
}